<app-cart titulo="Primeiro Componente" cor="#3D4D63">
    <app-primeiro-componente> </app-primeiro-componente>
</app-cart>

<app-cart titulo="Aprofundando o conhecimento em Templates"  cor="#B2E7E8">
    <app-segundo-componente> </app-segundo-componente>
</app-cart>

<app-cart titulo="Pipes"  cor="#BFB9AA">
    <app-pipe-customizado> </app-pipe-customizado>
</app-cart>

<app-cart titulo="Two-Way Data Binding" cor="#F2D096">
    <app-two-data-binding></app-two-data-binding>
</app-cart>


<app-cart titulo="Renderizando listas" cor="#ED8975">
    <app-renderizando-listas></app-renderizando-listas>
</app-cart>


<app-cart titulo="Componentes Personalizados (Input)" cor="#FFE3DC">
    <app-componente-personalizado nome="Yuri" sobrenome="Silva"></app-componente-personalizado>
    <app-componente-personalizado nome="Eu" sobrenome="Capgemini"></app-componente-personalizado>
</app-cart>

<app-cart titulo="Compartilhando dados entre componentes" cor="#A2AD91"> <app-renderizando-listas></app-renderizando-listas>
    <app-componente-pai></app-componente-pai>
</app-cart>



<app-cart titulo="Serviços" cor="#3A2D32">
    <app-exemplo-servico1></app-exemplo-servico1>
<app-exemplo-servico2></app-exemplo-servico2>
</app-cart>

<app-cart titulo="Ciclo de vida" >
    <app-clico-de-vida-pai></app-clico-de-vida-pai>
</app-cart>
